.c-dnd-video-player {
  background-color: transparent;

  &__side-bar {
    background-color: red;
    width: 50px;

    &__circle {
      z-index: 1020;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #ffffff;
      opacity: 0.5;
      color: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &:before {
        content: "";
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:after {
        content: "";
        width: 78px;
        height: 78px;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &__circle__sub {
      position: relative;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__player {
    z-index: -1;
  }
}
