.c-dnd-video-player {
  background-color: transparent;

  &__side-bar {
    background-color: red;
    width: 50px;

    &__circle {
      z-index: 9999;
      border-radius: 50%;
      background-color: #ffffff;
      opacity: 0.5;
      color: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
  &__player {
    z-index: -1;
  }
}
