.c-nav{

  &__mid {
    position: fixed;
    right: 50%;
    top: -100px;
    background-color: red;
    width: 240px;
    height: 180px;
    transform: translateX(50%);
    border-radius: 50%;
    z-index: 3;
  }

  .c-nav__logo {
    position: fixed;
    top: 105px;
    right: 50%;
    z-index: 9;
    transform: translateX(50%)
  }

  &__link{
    color: white;
    position: absolute;
    transition: opacity 0.25s cubic-bezier(0.42, 0, 0, 1.26), transform 0.25s ease-in-out;
    font-size: 1.6rem;
    transform-origin: left center;
    text-shadow: 30px -8px 4px rgba(0,0,0,0.2);
    &:hover{
      text-decoration: none;
      color: white;
    }
    &--coach {
      &.is-active{
        &:nth-child(1){ transform: scale(1.5) rotate(11deg);}
        &:nth-child(2){ transform: scale(1.5) rotate(35deg);} 
        &:nth-child(3){ transform: scale(1.5) rotate(48deg);} 
        &:nth-child(4){ transform: scale(1.5) rotate(62deg);} 
        &:nth-child(5){ transform: scale(1.5) rotate(78deg);} 
      }

      &:nth-child(1){ right: 151px; top: 8px; transform: rotate(11deg); &:hover{ transform: scale(1.5) rotate(11deg);} } 
      &:nth-child(2){ right: 123px; top: 54px; transform: rotate(35deg); &:hover{ transform: scale(1.5) rotate(35deg);} }
      &:nth-child(3){ right: 183px; top: 93px; transform: rotate(48deg); &:hover{ transform: scale(1.5) rotate(48deg);} }
      &:nth-child(4){ right: 236px; top: 116px; transform: rotate(62deg); &:hover{ transform: scale(1.5)  rotate(62deg) ;} }
      &:nth-child(5){ right: 292px; top: 124px; transform: rotate(78deg); &:hover{ transform: scale(1.5)  rotate(78deg) ;} }

    }
    &--player {
      &.is-active{
        &:nth-child(1){ transform: scale(1.5) rotate(11deg); }
        &:nth-child(2){ transform: scale(1.5) rotate(40deg); } 
        &:nth-child(3){ transform: scale(1.5) rotate(55deg); } 
        &:nth-child(4){ transform: scale(1.5) rotate(78deg);} 
      }

      &:nth-child(1){ right: 151px; top: 8px; transform: rotate(11deg); &:hover{ transform: scale(1.5) rotate(11deg);} } 
      &:nth-child(2){ right: 123px; top: 66px; transform: rotate(40deg); &:hover{ transform: scale(1.5) rotate(40deg);} }
      &:nth-child(3){ right: 231px; top: 104px; transform: rotate(55deg); &:hover{ transform: scale(1.5) rotate(55deg);} }
      &:nth-child(4){ right: 292px; top: 124px; transform: rotate(78deg); &:hover{ transform: scale(1.5)  rotate(78deg) ;} }

    }
    &--no {
      &.is-active{
        &:nth-child(1){ transform: scale(1.5) rotate(11deg);}
        &:nth-child(2){ transform: scale(1.5) rotate(36deg);} 
        &:nth-child(3){ transform: scale(1.5) rotate(55deg);} 
        &:nth-child(4){ transform: scale(1.5) rotate(78deg);} 
      }

      &:nth-child(1){ right: 151px; top: 8px; transform: rotate(11deg); &:hover{ transform: scale(1.5) rotate(11deg);} } 
      &:nth-child(2){ right: 179px; top: 66px; transform: rotate(36deg); &:hover{ transform: scale(1.5) rotate(36deg);} }
      &:nth-child(3){ right: 231px; top: 104px; transform: rotate(55deg); &:hover{ transform: scale(1.5) rotate(55deg);} }
      &:nth-child(4){ right: 292px; top: 124px; transform: rotate(78deg); &:hover{ transform: scale(1.5)  rotate(78deg) ;} }

    }
  }

  &__items{
    position: fixed;
    width: 25rem;
    height: 25rem;
    top: 0;
    left: 0;
    transition: all 0.3s ease-out;
    &:before{
      transition: all 0.3s cubic-bezier(0.42, 0, 0.11, 1.24);
      content: '';
      background-color: red;
      width: 45rem;
      height: 40rem;
      position: fixed;
      transform: translate(-50%, -50%);
      top: 0;
      left: 0;
      border-radius: 50%;
      z-index: -1;
    }
    &.c-nav__menu-closed{
      width: 8rem;
      height: 6rem;
    }
  }

  &__menu-closed{
    &:before{
      transform: translate(-50%, -50%) scale(0);
    }
    .c-nav__link{
      opacity: 0;
    }
  }

  &__menu-open{
    &:before{
      transform: translate(-50%, -50%) scale(1);
    }
    .c-nav__link{
      opacity: 1;
    }
  }

  &__main{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    height: 12rem;
    width: 16rem;
  }

  &__hamburger{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    z-index: 1;

    &:hover{
      cursor: pointer;
    }
  }

  &__hamburger-open{
    background-color: white;
    .c-nav__hamburger-bar{
      background-color: red;

      &:nth-child(1){ transform: rotate(45deg) }
      &:nth-child(2){ opacity: 0; }
      &:nth-child(3){ transform: rotate(-45deg) }
    }
  }

  &__hamburger-bar{
    transition: all 0.3s ease-in-out;
    transform-origin: 2px 1px;
    position: absolute;
    background-color: white;
    width: 2rem;
    height: 3px;
    &:nth-child(1){ bottom: 68px; right: 68px; }
    &:nth-child(2){ bottom: 58px; right: 68px; }
    &:nth-child(3){ bottom: 48px; right: 68px; }
  }

}