.c-select-video {
  &__video {
    cursor: pointer;
    max-height: 118px;
    &:hover {
      background-color: $color-grey-light;
    }
    &__player {
      margin-left: -10px;
      video {
        max-height: 100px;
      }
    }
  }
}
