.VideoUpload {

padding-bottom: 50px;   


    &__Container {
    margin-top: 50px;
    }

    &__FileUpload {
        // gonna sus later
    }

    &__preview {
        padding-bottom: 25px;
    }

    &__dropzone-styling {
        width: 100%;
        height: 75px;
        border: 2px dashed white;
        background-color: red;
        padding-top: 25px;
        color: white;
        margin-bottom: 25px;
        text-align: center;
        }

    &__name {
        margin-top: 25px;
    }  
}