.c-video-setup {
  &__icon {
    color: red;
    zoom: 3;
  }
  &__tooltip {
    background-color: red !important;
    opacity: 1 !important;
    &::after {
      border-top-color: red !important;
    }
  }
}

.c-react-player {
  width: 100% !important;
  padding-bottom: 56.25%;
  position: relative;

  video {
    position: absolute;
  }
}

.c-progress-bar {
  margin-bottom: -38px;
}
