$color-grey-mid: #bfbfbf;
$color-grey-light: #f6f7f8;
$color-green-light: #48c744;

.color-grey-mid {
  color: $color-grey-mid;
}
.color-grey-light {
  color: $color-grey-light;
}

.bg-grey-mid {
  background-color: $color-grey-mid;
}
.bg-grey-light {
  background-color: $color-grey-light;
}
