.u-component {
  margin-bottom: $spacing-v-component;
  margin-top: $spacing-v-component;
  width: 100%;
}

.video-screen {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.mb-footer {
  padding-bottom: 20px;
}

.App {
  position: relative;
  min-height: calc(100vh - 163px);
}

.cursor-pointer {
  cursor: pointer;
}

.back-button {
  cursor: pointer;
  color: red;
  font-size: 18px;
  &:hover {
    text-decoration: underline;
  }
}

.answer-circle {
  z-index: 9999;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.5;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-selection {
  z-index: 9999;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.w-5rem {
  width: 10rem;
}
