.u-component {
  margin-bottom: $spacing-v-component;
  margin-top: $spacing-v-component;
  width: 100%;
}

.video-screen {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.mb-footer {
  padding-bottom: 20px;
}

.App {
  position: relative;
  min-height: calc(100vh - 163px);
}
