.video {

    &__url {
        width: 100%;
        padding: 10px 20px;

    }

    &__url-button {
        margin-left:20px;
    }

    &__react-player {
        margin-top: 25px;
        width: 100%;
        padding-bottom: 56%;
        background-color: red;
        position: relative;
        >div {
            position: absolute;
        }
    }

    &__react-container {
        display: flex;
        width: 100%;
        justify-content: center;
        


    }
    
    &__breakdown {
        text-align: left;
        padding-top: 25px;
        font-weight: bold;

    }

    &__breakdown-text {
        padding-bottom: 15px;
    }
    
    &__additional {
        text-align: left;
        padding-top: 25px;
        font-weight: bold;
       
    }    

    &__additional-text {
        padding-bottom: 15px;
    }

    }
