// You dont need to put the file extension (.scss) it is
// smart enough to know

// Variables
@import "./variables/spacing";

// Utilities
@import "./utilities/misc";
@import "./utilities/form";
@import "./utilities/video";
@import "./utilities/colors";

// Components
@import "./components/_banner";
@import "./components/_success-modal";
@import "./components/_nav";
@import "./components/_footer";
@import "./components/_tool-menu";
@import "./components/_video-setup";
@import "./components/_video-answers";
@import "./components/_player-item";
@import "./components/_dnd-video-player";
@import "./components/_quiz";
@import "./components/_select-video";
@import "./components/_select-workflow";
//@import "./components/_player-select";

// Elements
@import "./elements/typography";
@import "./elements/links";
@import "./elements/preloader";
