// You dont need to put the file extension (.scss) it is 
// smart enough to know

// Variables
@import './variables/spacing';

// Components
@import './components/_banner';
@import './components/_nav';
@import './components/_footer';
@import './components/_tool-menu';
@import './components/_video-setup';

// Elements
@import './elements/typography';
@import './elements/links'; 

// Utilities
@import './utilities/misc';
@import './utilities/form';
@import './utilities/video';
